/*-------------------------
	Simple reset
--------------------------*/


* {
  margin: 0;
  padding: 0;
}


/*-------------------------
	General Styles
--------------------------*/


html {
  background: white;
  overflow: hidden;
}

body {
  margin: 0;
  font: 15px/1.3 Arial, sans-serif;
  color: #4f4f4f;
  z-index: 1;
}

a,
a:visited {
  outline: none;
  color: #389dc1;
}

a:hover {
  text-decoration: none;
}

section,
footer,
header,
aside {
  display: block;
}